body{
    margin:0;
    display: grid;
grid-template-columns: 100%;
grid-template-rows: 1.5fr 1fr 0.5fr 1fr 1fr 5%;
grid-template-areas: 
"Cont1"
"Cont2"
"Cont3"
"Cont4"
"Cont5"
"footer"

}

img{

    max-width: 100%;
}

.Cont1{
    grid-area: Cont1;
    background-color: aqua;
    background-image: url(./incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.webp);
    background-size: 100% 100%;

}

.Cont2{
    grid-area: Cont2;
    background-color: rgb(17, 0, 255);
    display: flex;
    gap: 5% 5%;
    justify-content: space-evenly;
    align-items: center;

}
.Cont3{
    grid-area: Cont3;
    background-color: rgb(30, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;

}
.Cont4{

    grid-area: Cont4;
    background-color: rgb(157, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;

}
.Cont5{
    grid-area: Cont5;
    background-color: rgb(89, 0, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;

}
.footer{
    grid-area: footer;
    background-color: rgb(4, 0, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
}

.container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    gap:2%;
    margin: 5% 5%


}


#but{
    
    gap: 3%;
    



}
#but1{

    width: 44.72vh ;
    height: 9.59vh ;
    border-radius: 6.10vh;
    font-weight: 400px;
    font-size: 1.0rem;
    line-height: 4.75vh;
    gap: 3.48vh;
    
    
  
    

    }
#but2{
    width: 64.0vh ;
    height: 9.59vh ;
    border-radius: 6.10vh;
    font-weight: 400px;
    font-size: 1.0rem;
    line-height: 4.75vh;
    gap: 3.48vh;
    
    color: white;
    background-color: black;
    
    border: none;

} 


.texto{
    
  
    width: 50%;
    height:20%;    
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem;
    color:black;
    line-height: 1.5rem;
    font-weight: 400;
    
   


}    

.cont2div{
    display: flex;
    
    border: 2px solid black;
    margin: 2%;
    font-size: 1rem;
    text-align: center;
    align-items: center;

}

@media screen and (max-width: 428px){
    .Cont1{

    grid-area: Cont1;
    background-image: url(./incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.webp);
    background-size: Cover;


}
     #but1{

    width: 64.0vh ;
    height: 9.59vh ;
    border-radius: 6.10vh;
    font-weight: 400px;
    font-size: 1.0rem;
    line-height: 4.75vh;
    
}
    .Cont2{
    grid-area: Cont2;
    background-color: white;
    display: flex;
    gap: 5% 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    


}

    .Cont3{
    grid-area: Cont3;
    background-color: rgb(30, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;


}
    .Cont4{

    grid-area: Cont4;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;

}
    .Cont5{
    grid-area: Cont5;
    background-color: rgb(89, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
}

    .footer{
    grid-area: footer;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
}

}